<div class="wrapper">
	<form class="form-signin" method="POST" autocomplete="off">
		<h2 class="form-signin-heading">Please login</h2>
		{{#if errors}}
			<div class="errors">
				<div class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					{{#each errors}}
						{{msg}}
					{{/each}}
				</div>
			</div>
		{{/if}}

		<input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off" />
		<input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" />
		<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
	</form>
</div>